/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: [full-start] minmax(6rem, 1fr) [center-start] repeat(7, [row-start] minmax(min-content, 6rem) [row-end]) [center-end] minmax(6rem, 1fr) [footer-start] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(9, [col-start] minmax(min-content, 13rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 10%; }
  @media only screen and (max-width: 56.25em) {
    body {
      grid-template-rows: [full-start] minmax(2rem, 4rem) [center-start] repeat(6, [row-start] minmax(min-content, 2rem) [row-end]) [center-end] minmax(2rem, 1fr) [footer-start] minmax(2rem, 4rem) [full-end];
      grid-template-columns: [full-start] minmax(1.5rem, 4rem) [center-start] repeat(3, [col-start] minmax(min-content, 4rem) [col-end]) [center-end] minmax(1.5rem, 4rem) [full-end]; } }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #202046;
  font-size: 3.2rem;
  line-height: 4.2rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      font-size: 1.8rem;
      line-height: 2.5rem; } }

.testimonial__container {
  grid-column: center-start / center-end;
  justify-content: center; }

.testimonial__quote-mark {
  grid-column: 3;
  grid-row: 5 / 7; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__quote-mark {
      grid-column: 3;
      grid-row: 6 / 8;
      justify-self: center;
      width: 20%; } }

.testimonial__details {
  grid-column: center-start / 7;
  grid-row: 5 / 7;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 10; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__details {
      grid-column: 2 / -2;
      grid-row: 7 / 8;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10; } }

.testimonial__quote {
  margin-bottom: 3rem;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__quote {
      text-align: center; } }

.testimonial__name {
  font-size: 2rem;
  font-weight: 700; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__name {
      font-size: 1.6rem;
      text-align: center; } }

.testimonial__job {
  font-weight: 500;
  color: #babacf; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__job {
      display: block; } }

.testimonial__img-container {
  grid-column: 6 / -3;
  grid-row: 3 / 8;
  justify-self: end;
  filter: drop-shadow(20px 10px 20px rgba(0, 0, 194, 0.2));
  z-index: 5;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__img-container {
      grid-column: 3 / -3;
      grid-row: 3 / 4;
      justify-self: center;
      align-items: center;
      width: 70vw; } }

.testimonial__img {
  border-radius: .5rem; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__img {
      width: 70vw; } }

.testimonial__button-container {
  width: 12rem;
  height: 6rem;
  background-color: white;
  border-radius: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  justify-self: center; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__button-container {
      width: 8rem;
      height: 4rem;
      grid-column: 3 / -3;
      grid-row-end: 4;
      transform: translate(0rem, 2rem);
      z-index: 25;
      align-self: end; } }

.testimonial__bg {
  grid-column: 5 / center-end;
  grid-row: center-start / center-end;
  justify-self: center;
  width: 697px;
  height: 657px;
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  @media only screen and (max-width: 56.25em) {
    .testimonial__bg {
      grid-column: 2 / -2;
      grid-row: 2 / 4;
      justify-self: center;
      width: 100%;
      height: auto;
      background-image: url(../images/pattern-bg.svg);
      background-repeat: no-repeat; } }

button {
  background-color: white;
  width: 5.5rem;
  height: 6rem;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    button {
      width: 3.5rem;
      height: 4rem; } }
  button, button:link, button:visited {
    transition: all .2s;
    border: none;
    cursor: pointer; }
  button:hover {
    transition: all .2s;
    transform: translateY(-2px); }
  button:active, button:focus {
    transition: all .2s;
    outline: none;
    transform: translateY(2px); }

.attribution {
  grid-row: footer-start;
  grid-column: center-start / center-end;
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .attribution {
      margin-top: 0; } }

.attribution a {
  color: #202046; }
