/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: [full-start] minmax(6rem, 1fr) [center-start] repeat(7, [row-start] minmax(min-content, 6rem) [row-end]) [center-end] minmax(6rem, 1fr) [footer-start] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(9, [col-start] minmax(min-content, 13rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  color: #202046;
  line-height: 4.2rem; }

.testimonial__container {
  grid-column: center-start / center-end;
  justify-content: center; }

.testimonial__quote-mark {
  grid-column: 3;
  grid-row: 4 / 7; }

.testimonial__details {
  grid-column: center-start / 7;
  grid-row: 5 / 7;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 10; }

.testimonial__quote {
  margin-bottom: 3rem;
  width: 100%; }

.testimonial__name {
  font-size: 2rem;
  font-weight: 700; }

.testimonial__job {
  font-weight: 500;
  color: #babacf; }

.testimonial__img-container {
  grid-column: 6 / -3;
  grid-row: 3 / 8;
  justify-self: end;
  filter: drop-shadow(20px 10px 20px rgba(0, 0, 194, 0.2));
  z-index: 5;
  display: flex;
  flex-direction: column; }

.testimonial__img {
  border-radius: .5rem; }

.testimonial__button-container {
  width: 12rem;
  height: 6rem;
  background-color: white;
  border-radius: 30rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  transform: translate(4rem, -3rem);
  z-index: 10; }

.testimonial__bg {
  grid-column: 5 / center-end;
  grid-row: center-start / center-end;
  justify-self: center; }

button {
  border: 0;
  background-color: white;
  width: 6rem;
  height: 6rem; }

.attribution {
  grid-row: footer-start;
  grid-column: center-start / center-end;
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center; }

.attribution a {
  color: #202046; }
