.attribution { 
  grid-row: footer-start;
  grid-column: center-start / center-end;

  margin-top: 2rem;
  font-size: 1.1rem; 
  text-align: center; 

  @include respond(tab-port) {
    margin-top: 0;
  }
}

.attribution a { 
  color: $dark-blue; 
}