

.testimonial {
  &__container {
    grid-column: center-start / center-end;
    justify-content: center;
  }

  &__quote-mark {
    grid-column: 3;
    grid-row: 4 / 7;

    @include respond(tab-port) {
      grid-column: 3;
      grid-row: 5 / 7;
      justify-self: center;
      width: 20%;
    }
  }

  &__details {
    grid-column: center-start / 7;
    grid-row: 5 / 7;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 10;

    @include respond(tab-port) {
      grid-column: 2 / -2;
      grid-row: 6 / 7;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;
    }
  }

  &__quote {
    margin-bottom: 3rem;
    width: 100%;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;

    @include respond(tab-port) {
    font-size: 1.6rem;
    text-align: center;
    }
  }

  &__job {
    font-weight: 500;
    color: $grayish-blue;

    @include respond(tab-port) {
      display: block
    }
  }

  &__img-container {
    grid-column: 6 / -3;
    grid-row: 3 / 8;
    justify-self: end;  
    filter: drop-shadow(20px 10px 20px rgba(0, 0, 194, 0.2));
    z-index: 5;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      grid-column: 3 / -3;
      grid-row: 3 / 4;
      justify-self: center;  
      align-items: center;
      width: 70vw;
    }
  }

  &__img {
    border-radius: .5rem;

    @include respond(tab-port) {
      width: 70vw;
    }
  }

  &__button-container {
    width: 12rem;
    height: 6rem;
    background-color: white;
    border-radius: 30rem;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;  
    transform: translate(4rem, -3rem);

    @include respond(tab-port) {
      width: 8rem;
      height: 4rem;
      grid-column: 3 / -3;
      grid-row: 4;
      transform: translate(0rem, 0rem);
      z-index: 25;
    }
  }

  &__bg {
    grid-column: 5 / center-end;
    grid-row: center-start / center-end;
    justify-self: center; 
    width: 697px;
    height: 657px;
    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // width: 100%;
    // height: 100%;

    @include respond(tab-port) {
      grid-column: 2 / -2;
      grid-row: 2 / 4;
      justify-self: center; 
      width: 100%;
      height: auto;
      background-image: url(../images/pattern-bg.svg);
      background-repeat: no-repeat;
      // background-size: cover;
    }
  }
}

button {
  background-color: white;
  width: 5.5rem;
  height: 6rem;        
  cursor: pointer;

  @include respond(tab-port) {
    width: 3.5rem;
    height: 4rem;
  }

    &,
    &:link,
    &:visited {
        transition: all .2s;
        border: none;
        cursor: pointer;
    }
    
    &:hover {
      transition: all .2s;
      transform: translateY(-2px);
    }
    
    &:active,
    &:focus {
      transition: all .2s;
      outline: none;
      transform: translateY(2px);
    }
}

.arrow {
  @include respond(tab-port) {

  }
}
