

.testimonial {
  &__container {
    grid-column: center-start / center-end;
    justify-content: center;
  }

  &__quote-mark {
    grid-column: 3;
    grid-row: 4 / 7;
  }

  &__details {
    grid-column: center-start / 7;
    grid-row: 5 / 7;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 10;
  }

  &__quote {
    margin-bottom: 3rem;
    width: 100%;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
  }

  &__job {
    font-weight: 500;
    color: $grayish-blue;
  }

  &__img-container {
    grid-column: 6 / -3;
    grid-row: 3 / 8;
    justify-self: end;  
    filter: drop-shadow(20px 10px 20px rgba(0, 0, 194, 0.2));
    z-index: 5;
    display: flex;
    flex-direction: column;
  }

  &__img {
    border-radius: .5rem;
  }

  &__button-container {
    width: 12rem;
    height: 6rem;
    background-color: white;
    border-radius: 30rem;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;  
    transform: translate(4rem, -3rem);
  }

  &__bg {
    grid-column: 5 / center-end;
    grid-row: center-start / center-end;
    justify-self: center;  
  }
}

button {
  background-color: white;
  width: 5.5rem;
  height: 6rem;        
  cursor: pointer;


    &,
    &:link,
    &:visited {
        transition: all .2s;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
      transition: all .2s;
      transform: translateY(-2px);
    }
    
    &:active,
    &:focus {
      transition: all .2s;
      outline: none;
      transform: translateY(2px);
    }
}
